
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #6fc1be;
    --ifm-color-primary-dark: #479693;
    --ifm-color-primary-darker: #236664;
    --ifm-color-primary-darkest: #145a53;
    --ifm-color-primary-light: #81d4d1;
    --ifm-color-primary-lighter: #8bd9d6;
    --ifm-color-primary-lightest: #a9eae8;
    --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
    background-color: rgb(231, 237, 255);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
}

